@font-face {
    font-family: "Figtree";
    src: url("assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

:root {
    --clr-primary: #F4D04E;
    --clr-secondary: #111111;
    --clr-card-bg: #FFFFFF;
    --clr-description: #6B6B6B;

    --font-size-title: 24px;
    --font-size-description: 16px;
    --font-size-normal: 14px;

    --gap-card: 24px;
    --gap-content: 12px;
}

* {
    margin: 0;
}

body {
    height: 100dvh;
    background-color: var(--clr-primary);
    color: var(--clr-secondary);
    font-family: "Figtree", sans-serif;
    line-height: 150%;
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 0 24px;
}

.previewCard {
    background-color: var(--clr-card-bg);
    padding: var(--gap-card);
    width: min-content;
    border-radius: 20px;
    border: 1px solid var(--clr-secondary);
    box-shadow: 8px 8px var(--clr-secondary);
    display: grid;
    gap: var(--gap-card);
}

.illustrationArticle {
    border-radius: 10px;
}

.content {
    display: grid;
    gap: var(--gap-content);
}

.category {
    font-weight: 800;
    font-size: var(--font-size-normal);
    background-color: var(--clr-primary);
    padding: 4px 12px;
    border-radius: 4px;
    width: fit-content;
}

.publishingDate {
    font-size: var(--font-size-normal);
}

.title {
    border: none;
    background-color: transparent;
    padding: 0;
    font-family: "Figtree", sans-serif;
    font-size: var(--font-size-title);
    font-weight: 800;
    text-align: left;
    transition: color 0.5s;
}
.title:hover {
    color: var(--clr-primary);
    cursor: pointer;
}
.title:focus {
    outline: none;
    color: var(--clr-primary);
}

.description {
    color: var(--clr-description);
    font-size: var(--font-size-description);
}

.publisher {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: var(--gap-content);
    align-items: center;
    font-weight: 800;
    font-size: var(--font-size-normal);
}

.publisherAvatar {
    height: 32px;
    width: 32px;
}

.attribution {
    position: absolute;
    bottom: 0;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 450px) {
    .illustrationArticle {
        width: 279px;
    }
}